<!-- src/app/shared/components/header/header.component.html -->
<header>
    <nav>
      <ul>
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/about" routerLinkActive="active">About</a></li>
        <li><a routerLink="/projects" routerLinkActive="active">Projects</a></li>
        <li><a routerLink="/experience" routerLinkActive="active">Experience</a></li>
        <li><a routerLink="/certifications" routerLinkActive="active">Certifications</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
      </ul>
    </nav>
</header>
  